* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// html {
//     font-size: 10px;
// }

// body {
//     font-size: 1.6rem;
// }

.blue-icon {
    color: #3f87f5;
    background: rgba(63,135,245,.1);
} 

.green-icon {
    color: #00c9a7;
    background: rgba(0,201,167,.1);   
}

.yellow-icon {
    color: #ffc107;
    background: rgba(255,193,7,.1);
} 

.purple-icon {
    color: #886cff;
    background: rgba(136,108,255,.1);
} 

.red-icon {
    color: #de4436;
    background: rgba(222,68,54,.05);
}